

.top {
  top: -5px;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
}

.right {
  top: 0;
  bottom: 0;
  right: -5px;
  width: 10px;
  cursor: ew-resize;
}

.bottom {
  bottom: -5px;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
}

.left {
  top: 0;
  bottom: 0;
  left: -5px;
  width: 10px;
  cursor: ew-resize;
}

.top-right {
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}

.bottom-right {
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  cursor: nwse-resize;
}

.top-left {
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  cursor: nesw-resize;
}
.button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.blue {
  background-color: blue;
  color: white;
  margin-left: 10px;
}

.green {
  background-color: green;
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}
